.input-style {
  width: 100%;
  border-radius: 0.75rem;
  border: 1px solid rgb(51 65 85);
  background: rgb(2 6 23);
  padding: 0.875rem 1rem;
  color: white;
  outline: none;
  transition: 0.2s;
}

.input-style::placeholder {
  color: rgb(100 116 139);
}

.input-style:focus {
  border-color: rgb(59 130 246);
  box-shadow: 0 0 0 3px rgb(59 130 246 / 0.15);
}
